/* Universal Styles */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
    text-align: center;
    }

body {
    background-color: black;
}

h1 {
    font-size: 3.125rem;
}