/* Universal Styles */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
    text-align: center;
    }

body {
    background-color: black;
    display: block;
    margin: 8px;
}

h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 2.625rem;
    font-weight: 300;
}
a {
    color: aquamarine;
    font-size: 1rem;
}

p {
    color: gray;
    font-size: 1.3125rem;
}

footer {
    text-align: right;
}